<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{_layout}">
<body>
	<div class="layout-main" layout:fragment="corpo">
	
	    <aside th:replace="fragments/aside :: aside"></aside>
	
	    <section class="layout-content">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Novo Funcionário</span>
	                    </li>
	                </ul>
	            </div>
	        </nav>
			
			<div class="container" id="cadastro">
	            <form th:object="${func_controller_form}" method="POST">
	                <div class="form-row">
	                    <div class="form-group col-md-4">
	                        <label for="nome">Nome do Funcionário</label>
	                        <input class="form-control" placeholder="Nome completo"
	                            autofocus="autofocus" th:field="*{nome}"
								th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" />

							<div class="invalid-feedback">
								<span th:errors="*{nome}"></span>
							</div>
	                    </div>

						<div class="form-group col-md-3">
	                        <label for="cargo">Cargo</label>
	                        <select id="cargo" class="form-control" th:field="*{cargo}"
								th:classappend="${#fields.hasErrors('cargo')} ? 'is-invalid'">
	                            <option th:value="0"></option>
	                            <option th:each="cargo : ${cargoSelect}" 
									th:value="${cargo.id}" th:text="${cargo.nome}">
								</option>
	                        </select>

							<div class="invalid-feedback">
	                        	<span th:errors="*{cargo}"></span>
	                        </div>
	                    </div>

						<div class="form-group col-md-3">
	                        <label for="salario">Salário Bruto</label>
	                        <input class="form-control money" th:field="*{salario}" 
								id="salario" data-mask="#.##0,00" data-mask-reverse="true"
								th:classappend="${#fields.hasErrors('salario')} ? 'is-invalid'" />

							<div class="invalid-feedback">
								<span th:errors="*{salario}"></span>
							</div>
	                    </div>
					</div>

					<div class="form-row">	
						<div class="form-group col-md-4">
	                        <label for="dataEntrada">Data de Entrada</label>
	                        <input class="form-control" th:field="*{dataEntrada}" type="date"
								th:classappend="${#fields.hasErrors('dataEntrada')} ? 'is-invalid'"/>

							<div class="invalid-feedback">
	                        	<span th:errors="*{dataEntrada}"></span>
	                        </div>
	                    </div>

						<div class="form-group col-md-4">
	                        <label for="dataSaida">Data de Saída</label>
	                        <input class="form-control" th:field="*{dataSaida}" type="date"
								th:classappend="${#fields.hasErrors('dataSaida')} ? 'is-invalid'" />

							<div class="invalid-feedback">
	                        	<span th:errors="*{dataSaida}"></span>
	                        </div>
	                    </div>
	                </div>

	                <div class="form-row">
						<div class="form-group col-md-2">
	                        <label for="cep">Cep</label>
	                        <input type="text" class="form-control" data-mask="00000-000" 
								th:field="*{endereco.cep}"
								th:classappend="${#fields.hasErrors('endereco.cep')} ? 'is-invalid'" />

							<div class="invalid-feedback">
								<span th:errors="*{endereco.cep}"></span>
							</div>
	                    </div>

						<div class="form-group col-md-2">
	                        <label for="uf">UF</label>
	                        <select id="uf" class="form-control" th:field="*{endereco.uf}"
								th:classappend="${#fields.hasErrors('endereco.uf')} ? 'is-invalid'">
	                            <option value=""></option>
	                            <option th:each="uf : ${listaUFs}" th:value="${uf}" 
									th:text="${uf.sigla}"></option>
	                        </select>

							<div class="invalid-feedback">
								<span th:errors="*{endereco.uf}"></span>
							</div>
	                    </div>

	                    <div class="form-group col-md-4">
	                        <label for="cidade">Cidade</label>
	                        <input class="form-control" th:field="*{endereco.cidade}"
								th:classappend="${#fields.hasErrors('endereco.cidade')} ? 'is-invalid'" />

							<div class="invalid-feedback">
	                        	<span th:errors="*{endereco.cidade}"></span>
	                        </div>
	                    </div>
	                </div>
	                <div class="form-row">
						<div class="form-group col-md-4">
	                        <label for="logradouro">Logradouro</label>
	                        <input class="form-control" placeholder="logradouro sem número"
	                            th:field="*{endereco.logradouro}" />
	                    </div>

	                    <div class="form-group col-md-3">
	                        <label for="numero">Número</label>
	                        <input class="form-control" th:field="*{endereco.numero}" />
	                    </div>
	                </div>

	                <div class="form-row">
	                    <div class="form-group col-md-4">
	                        <label for="bairro">Bairro</label>
	                        <input class="form-control" th:field="*{endereco.bairro}" />
	                    </div>

						<div class="form-group col-md-3">
	                        <label for="complemento">Complemento</label>
	                        <input class="form-control" placeholder="fundos, casa, AP. 102, .."
	                            th:field="*{endereco.complemento}" />
	                    </div>
	                </div>

	                <input type="hidden" id="endereco.id" th:field="*{endereco.id}" />
	                <button type="submit" class="btn btn-primary">Salvar</button>
	            </form>
	        </div>
	    </section>
	</div>
</body>
</html>	