<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{_layout}">
<body>
	<div class="layout-main" layout:fragment="corpo">
	
	    <aside th:replace="fragments/aside :: aside"></aside>
	
	    <section class="layout-content">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Novo Departamento</span>
	                    </li>
	                </ul>
	            </div>
	        </nav>
			
			<div class="container" id="cadastro">
	            <form th:object="${depart_form_controller}" method="POST">
					
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="nome">Departamento</label>
	                        <input class="form-control" th:field="*{nome}"
								placeholder="Nome Departamento" autofocus="autofocus" />
	                    </div>
	                </div>
	                <button type="submit" class="btn btn-primary">Salvar</button>
	            </form>
	        </div>
	    </section>
	</div>
</body>
</html>	