<!DOCTYPE html>
    <html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
	<div th:fragment="rodape">
        <footer class="layout-footer">
            <div class="container">
                <span class="footer-copy">&copy; 2018 MBallem. Todos os direitos reservados.</span>
            </div>
        </footer>

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
        <script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

        <script type="text/javascript">
            $(function() {
                $('[data-toggle="popover"]').popover();
            });
            
            $(document).ready(function(){
                $(".navbar-toggle").click(function(){
                    $(".sidebar").toggleClass("sidebar-open");
                })
            });
        </script>
    </div>
</body>
</html>